@import '../../styles/settings.scss';

.cardForm {
    padding: 10px;
    min-width: 200px;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    margin: 0 0 $base-size 0;
    font-family: $font-text;
    border-radius: $radius;
    text-align: center;
}